$concept-item-max-width: 300px;
$concept-item-max-height: 150px;
$concept-item-margin: 0 20px;

#concept {
  .concept-list {


    display: block;
    width: 100%;

  }
  .item-list {
    background-image: url('/bg-section.jpg');
    &:not(:last-child) {
      margin-bottom: 3em;
    }

    h2, h3 {
      font-family: 'Roboto Light', sans-serif;
      text-align: left;
      margin-left: -1em;
    }
    p {
      text-align: justify;
    }
    .item {
      display: block;
      margin: $concept-item-margin;
      width: 500px;
      //max-width: $concept-item-max-width;
      .img-wrapper {
        display: block;
        margin: auto;
        max-width: $concept-item-max-width;

      }
    }
  }
}
