#contact {

  background-image: url('/bg-section.jpg');
  margin: auto;
  text-align: center;
  .contact-list {
    margin: auto;
    display: inline-block;
    text-align: justify;
    ul {
      margin-left: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 0.25em;
      }
    }
  }
}
