
header {
  width: 100%;
  background-color: map-get($colors, dark-primary );
  background-size: cover;
  display: table;
  vertical-align: middle;

  height: 300px;
  min-height: 300px;

  h1 {
    margin: 0;
  }

  h2 strong {
    color: map-get($colors, secondary);
  }

  background-position: center;
  background-size: cover;
}

.title {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: map-get($map: $colors, $key: light );

    h1 {
      margin: 0 5%;
      line-height: 120%;
    }
}