
.item-list {
  display:  flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

  h2 {
    font-family: 'Covered By Your Grace', cursive;
  }

  .item {

    .img-wrapper {

      img {
        width: 100%;
      }
    }

  }
}