@media all and (min-device-width: 600px) {  
  navbar {
    .menu-button, .close-button{
      display: none; 
    }

    .nav-logo {
      float: left;
      margin-left: 20%;
      margin-top: 7px;
      height: 60px;
    }

    ul {
      text-align: center;
      margin:  15px auto;
      li {
        display: inline;
        list-style: none;
        margin: 10px;

        &:not(:last-child) {
          margin-right: 20px;
        }

        a {
          text-decoration: none;
          color: $title-color;
          font-weight: normal;
          &:link {
            color: $title-color;
        }
        &:visited {
            color: $title-color;
        }
        &:hover {
            color: $link-hover-color;
        }
          &:active {
            color: $title-color;
          }
        }
      }
    }
  }
}

@media all and (max-device-width: 600px) {

  navbar {
    //font-size: 2em;

    .button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 36px;
      height: 36px;
      text-align: center;
      vertical-align: center;
      border: solid 2px map-get($map: $colors, $key: dark-primary);
      font-size: 1em;
      i {
        margin-top: 8px;
      }

      cursor: pointer;
    }

    .menu-button {
      display: block;
      padding-top: 2px;
    }

    .close-button {
      display: none;
    }

    position: fixed;
    bottom: 0;
    
    background-color: map-get($map: $colors, $key: light);
    width: 100%;
    min-height: 60px;
    border-top: solid 1px map-get($map: $colors, $key: dark-primary);


    transition: all 0.5 linear;

    ul {
      font-size: 1em;
      transition: all 0.5 linear;
      display: none;
      
    }

    &.checked {
      transition: all 0.5 linear;
      .menu-button {
        display: none;
      }
      .close-button {
        display: block;
      }
    
      ul {
        display: block;
        li {
          list-style: none;
          margin: 10px;

          &:not(:last-child) {
            margin-right: 20px;
          }

          a {
            text-decoration: none;
            color: $title-color;
            &:active {
              color: $title-color;
            }
          }
        }
      }
    }
  }
}