#partner {
  $partner-item-max-width: 200px;
  $partner-item-margin: 0 20px;

  .item-list {
    h2, h3, h4 {
      font-family: 'Roboto', cursive;
    }
    .item {
      margin: $partner-item-margin;
      max-width: $partner-item-max-width;
      .img-wrapper {
        max-width: $partner-item-max-width;
        img {
          width: 100%;
          border-radius: 100%;
        }
      }
    }
  }
}