$concept-item-max-width: 300px;
$concept-item-max-height: 150px;
$concept-item-margin: 0 20px;

#project {
  background-image: url('/bg-section.jpg');
  background-size: cover;

  .project-list {
    display: block;
    width: 100%;
    margin-top: 2em;

  }
  .item-list {

    padding: 2em 0;
    h2, h3 {
      font-family: 'Roboto Light', sans-serif;
      text-align: center;
    }
    p {
      text-align: justify;
    }
    .item {
      display: block;
      margin: $concept-item-margin;
      width: 500px;
      //max-width: $concept-item-max-width;
      .img-wrapper {
        display: block;
        margin: auto;
        max-width: $concept-item-max-width;

      }
    }
  }
}
