#squad {
  $squad-item-max-width: 200px;
  $squad-item-margin: 0 20px;

  .item-list {
    h2 {
      font-family: 'Covered By Your Grace', cursive;
    }
    .item {
      margin: $squad-item-margin;
      max-width: $squad-item-max-width;
      .img-wrapper {
        max-width: $squad-item-max-width;
        img {
          border-radius: 100%;
        }
      }
    }
  }
}