<div class="item-list">
    <div class="item">
        {{ if .Params.imgURL}}

        <div class="left img-wrapper">
            <img src="{{.Params.imgURL}}"/>
        </div>
        {{end}}
    </div>

    <div class="item">
        <h3>{{.Title}}</h3>

        {{.Content}}

    </div>
</div>
