<div class="item">
    {{ if .Params.imgURL}}
    <div class="img-wrapper">
        <img src="{{.Params.imgURL}}"/>
    </div>
    {{end}}
    <h2>{{.Title}}</h2>
    <p>{{.Content}}</p>
    <p><i>{{.Params.tags}}</i></p>
</div>