{{ with .Site.GetPage "section" "concept" }}
<div class="section-header">
    <h2>{{ .Title | markdownify }}</h2>
</div>

<div class="concept-list section-content">
    {{.Content}}

    {{ range where .Data.Pages "Section" "concept" }}
    {{ .Render "li"}}
    {{ end }}
</div>
{{end}}