<div class="contact-list section-content">
    <ul>
        {{ if isset .Site.Params.contact "email"}}
        <li>
            @  {{ .Site.Params.contact.email }}
        </li>
        {{ end }}
        {{ if isset .Site.Params.contact "twitter"}}
        
        <li>
            <a href="https://twitter.com/{{ .Site.Params.contact.twitter }}">
                <i class="fab fa-twitter"></i>  {{ .Site.Params.contact.twitter }}
            </a>
        </li>
        {{ end }}
        {{ if isset .Site.Params.contact "facebook"}}
        <li>
            <a href="https://facebook.com/{{ .Site.Params.contact.facebook }}">
                <i class="fab fa-facebook"></i>  {{ .Site.Params.contact.facebook }}
            </a>
        </li>
        {{ end }}

        {{ if isset .Site.Params.contact "github"}}
        <li>
            <i class="fab fa-github"></i>  {{ .Site.Params.contact.github }}
        </li>
        {{ end }}
    </ul>
</div>
