<header style="background-image: url('{{.Site.BaseURL}}{{.Params.illustration}}')">
      <div class="title">
        <h1>{{ .Title }}</h1>
        {{ if isset .Params "subtitle" }}
        <h2>{{ .Params.subtitle | safeHTML}}</h2>
        {{ end }}
    </div>
  </header>