<div class="item">
    <div class="header">
        <img src="{{.Params.imageURL}}" class="rounded"/>
        <h3>{{ .Title }}</h3>
    </div>
    <div class="content">
        {{ .Content }}
    </div>
    <div class="tags">
        <p>
            # {{ .Params.tags }}
        </p>
    </div>
</div>