<navbar onclick="toggleMenu()" id="menu">


    <div class="button menu-button">
        <i class="fas fa-bars"></i>
    </div>
    <div class="button close-button">
        <i class="fas fa-times"></i>
    </div>
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }} 
        <li>
            <a  href="{{ .URL }}"
            >
                {{ .Name }}
            </a>
        </li>
    {{end}}
    </ul>

</navbar>

<script type="text/javascript">
    function toggleMenu() {
       const element = document.getElementById('menu');
       if ( element.classList.contains('checked')) {
           element.classList.remove('checked');
       } else {
           element.classList.add('checked');
       }
    }
</script>