{{ with .Site.GetPage "section" "partner" }}

<div class="section-header">
    <h2>{{ .Title | markdownify }}</h2>

    <p>
        {{.Content}}
    </p>
</div>
<div class="section-content">
    <div class="partner-list item-list">
        {{ range where .Data.Pages "Section" "partner" }}
        {{ .Render "li"}}
        {{ end }}
    </div>
</div>
{{end}}