{{ with .Site.GetPage "section" "project" }}
<div class="section-header">
    <h2>{{ .Title | markdownify }}</h2>

    <p>
        {{.Content}}
    </p>
</div>

<div class="project-list section-content">
    {{ range where .Data.Pages "Section" "project" }}
    {{ .Render "li"}}
    {{ end }}
</div>
{{end}}