<!doctype>
<html>
  <head>
      {{ partial "metadata.html" . }}
      {{ partial "stylesheet.html" . }}
  </head>
  <body>

    {{ partial "navbar.html" . }}

    {{ partial "header.html" . }}

    <div class="content">

      {{ .Content }}
      
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>