{{ with .Site.GetPage "section" "squad" }}
<div class="section-header">
    <h2>{{ .Title | markdownify }}</h2>

    <p>
        {{.Content}}
    </p>
</div>
<div class="section-content">
    <div class="item-list">
        {{ range where .Data.Pages "Section" "squad" }}
        {{ .Render "li"}}
        {{ end }}
    </div>
</div>
{{end}}