<!doctype>
<html>
  <head>
    {{ partial "metadata.html" . }}
    {{ partial "stylesheet.html" . }}
  </head>
  <body>

    {{ partial "navbar.html" . }}

    {{ partial "header_home.html" . }}

    <div class="content">

      {{ .Content }}

      <!--
      <section id="concept">
        {{ partial "concept.html" . }}
      </section>

      <section id="squad">
        {{ partial "squad.html" . }}
      </section>

      <section id="project">
        {{ partial "project.html" . }}
      </section>

      <section id="partner">
        {{ partial "partner.html" . }}
      </section>

      <section id="contact">
        {{ partial "contact.html" . }}
      </section>

      -->

    </div>
    {{ partial "footer.html" . }}
    {{ partial "google-analytics.html" .}}
  </body>
</html>