@import url('https://fonts.googleapis.com/css?family=Boogaloo|Roboto|Open+Sans');

@import 'variables.scss';

body {
    // /Reset
    margin: 0;
    padding: 0;
    font-family: $font-family-content;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $background-color;
    color: $content-color;
}



// ----------------------
// Titles


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-title;
    font-weight: lighter;
    color: $title-color;;
    text-align: center;
    line-height: $line-height-base;
}

h1 {
    color: $title-color;
    font-size: $h1-font-size;
    margin: 0;
}

h2 {
    font-size: $h2-font-size;
    margin: 0;
    strong {
        color: $title-color-bold;
        font-size: $h2-font-size-bold;
    }
}

h3 {
    font-size: $h3-font-size;
    margin: 0;
    strong {
        color: $title-color-bold;
    }
}

.title {
    h1, h2 {
        color: $header-title-color;
    }
}
// ----------------------
// Content and body
@media (min-width: 1280px) {
    .content {
        margin: 15px 20%;
    }
}


@media (min-width: 800px) and (max-width: 1280px) {
    .content {
        margin: 15px 15%;
    }
}

@media (max-width: 800px) {
    .content {
        margin: 15px 5%;
    }

    body {
        font-size: 16px;
    }
}

// -----------------------
// Links

a {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;

    &:link {
        color: $link-color;
    }
    &:visited {
        color: $link-color;
    }
    &:hover {
        color: $link-hover-color;
    }
}


// -----------------------
// Sections

// footer
footer {
    background-color: $footer-background-color;
    color: $footer-color;
    padding: $footer-padding;
    margin: auto;
    text-align: center;

    .contact-list {
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
            }
        }
    } 
}


@media (max-device-width: 800px) {
    footer {
        padding-bottom: 80px;
    }   
}

// Blockquote

blockquote {
    color: $blockquote-color;
    margin: 0;
    padding: 0 30px;
    font-style: italic;
    border-left: $blockquote-border-color solid 4px; 
    font-weight: 300;
    p:first-child {
        margin-top: 0; 
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;

    img {
        display: fle
    }
}

// -----------------------
// Imports

@import 'partials/section.scss';
@import 'partials/header';
@import 'partials/navbar.scss';
@import 'partials/contact.scss';
@import 'partials/item-list.scss';

@import 'partials/concept.scss';
@import 'partials/squad.scss';
@import 'partials/partner.scss';
@import 'partials/project.scss';
