$colors: (
    dark-primary: #255984,
    primary: #3171B2,
    secondary: #20C580,
    tertiary: #FDBA01,
    light: #FEFEFE,
    dark: #111111
);



$background-color: map-get($colors, light);
$content-color: map-get($colors, dark);
$title-color: map-get($map: $colors, $key: dark);
$title-color-bold: map-get($map: $colors, $key: primary);

$header-title-color: map-get($map: $colors, $key: light);

$font-family-title: 'Boogaloo', sans-serif;
$font-family-title-bold:  'Covered By Your Grace', sans-serif;
$font-family-content: 'Open Sans', sans-serif;

$h1-font-size: 3em;
$h2-font-size: 1.65em;
$h2-font-size-bold: 1.1em;
$h3-font-size: 1.35em;

$font-size-base: 18px;
$line-height-base: 200%;

$footer-background-color: map-get($map: $colors, $key: dark);
$footer-color: map-get($map: $colors, $key: light);
$footer-padding: 20px 20%;

$link-color: map-get($map: $colors, $key: secondary );
$link-hover-color: map-get($map: $colors, $key: dark-primary );

$blockquote-color: map-get($map: $colors, $key: dark);
$blockquote-border-color: map-get($map: $colors, $key: tertiary);